* {
  margin: 0;
  padding: 0;

}

header {
  width: 100vw;
  height: 70px;
  background-color: #ADFF2F;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  text-transform: uppercase;
  color: #75B313;
  text-decoration: none;
  font-size: 25px;
  margin-left: 30px;
}
button{
  background: none;
  color: black;
  margin-right: 50px;
  font-size: 35px;
}
